* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

:root {
  --boxmargin: 20px;
}

.w3-modal {
  z-index:3;
  display:none;
  padding-top:100px;
  position:fixed;
  left:0;
  top:0;
  margin-left: 240px;
  width: calc(100% - 240px);
  height:100%;
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.4)
}
.w3-modal-content {
  margin:auto;
  background-color:#fff;
  position:relative;
  padding:0;
  outline:0;
  width:600px;
}
.w3-animate-top {
  position:relative;
  animation:animatetop 0.4s;
}
@keyframes animatetop {
  from{
    top:-300px;
    opacity:0;
    }
  to{
    top:0;
    opacity:1;
  }
}
.w3-card-4 {
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}
.w3-container:after,.w3-container:before{
  content:"";
  display:table;
  clear:both;
}
.w3-container{
  padding:0.01em 16px;
}
.modal-color{
  color:#fff!important;
  background-color: #000000aa!important;
}
.w3-button:hover{
  color:#000!important;
  background-color:#ccc!important;
}
.w3-button{
  border:none;
  display:inline-block;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.w3-display-topright{
  position:absolute;
  right:0;
  top:0;
}

p {
  font-family: "Arial", Gadget, sans-serif;
}

h2 {
  font-family: "Arial Black", Gadget, sans-serif;
}

a:link, a:visited {
  background-color: #F1F1F1;
  color: Black;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Arial Black", Gadget, sans-serif;
}

a:hover, a:active {
  background-color: #ECECEC;
}

.main, html, body {
  position: fixed;
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}

.menu {
  position: absolute;
  padding: 20px;
  width: 200px;
  height: calc(100% - 40px);
  background-color: #f1f1f1;
  list-style-type: none;
}

.body {
  position: fixed;
  left: 240px;
  height: calc(100% - var(--boxmargin));
  width: calc(100% - 240px - var(--boxmargin));
  padding: calc(var(--boxmargin)/2);
}

.vertical-split {
  height:50%;
}

.box-1 {
  margin: calc(var(--boxmargin)/2);
  height: calc(50% - 3*var(--boxmargin)/2);
  width: calc(33.3333333% - 3*var(--boxmargin)/2);
  background-color: white;
  box-shadow: 0px 0px 3px 3px #E8E8E8;
}

.box-2 {
  margin: calc(var(--boxmargin)/2);
  height: calc(50% - 3*var(--boxmargin)/2);
  width: calc(66.6666666% - 7*var(--boxmargin)/4);
  background-color: white;
  box-shadow: 0px 0px 3px 3px #E8E8E8;
}

.column-left {
  left: calc(var(--boxmargin)/2);
  position: absolute;
}
.column-center {
  margin-left: calc(33.3333333% + var(--boxmargin)/4);
  position: absolute;
}
.column-right {
  right: calc(var(--boxmargin)/2);
  position: absolute;
}

.invest {
  padding: 60px 60px 60px 60px;
  height: calc(100% - 160px);
  width: calc(100% - 160px);
  display: grid;
}

.investbox {
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 3px 3px #E8E8E8;
  padding: 20px 20px 20px 20px;
}

.title {
  background-color: #F5F5F5;
  height:40px;
  line-height: 40px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 15px;
  padding-left: 12.5px;
}

.container {
  height: calc(100% - 60px);
}

.table {
  overflow-y: scroll;
  max-height: 100%;
}

.tablesum{
    overflow: hidden;
    height: 20px;
    line-height: 20px;
    background-color: #F8F8F8;
}

.table-editable {
  position: relative;

  .glyphicon {
    font-size: 20px;
  }
}

.table-remove {
  color: #700;
  cursor: pointer;

  &:hover {
    color: #f00;
  }
}

.table-up, .table-down {
  color: #007;
  cursor: pointer;

  &:hover {
    color: #00f;
  }
}

.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;

  &:hover {
    color: #0b0;
  }
}
